@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */
@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #ffffff;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/* Type */
body, input, select, textarea {
	color: #1B1212;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.75;
	}

	@media screen and (max-width: 1680px) {
		body, input, select, textarea {
			font-size: 16pt;
		}
	}

	@media screen and (max-width: 1280px) {
		body, input, select, textarea {
			font-size: 12pt;
		}
	}

	a {
		-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		transition: border-bottom-color 0.2s ease, color 0.2s ease;
		text-decoration: none;
		color: #1B1212;
		border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
	}

	strong, b {
		font-weight: 900;
	}

	h1 {
		font-size: 2.75em;
		font-weight: 700;
		line-height: 1.3;
		margin: 0 0 1em 0;
		letter-spacing: -0.035em;
	}

	h2, h3, h4, h5, h6 {
		font-weight: 900;
		line-height: 1.5;
		margin: 0 0 2em 0;
		text-transform: uppercase;
		letter-spacing: 0.35em;
	}

	h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
	}

	h2 {
		font-size: 1.1em;
	}

	h3 {
		font-size: 1em;
	}

	h4 {
		font-size: 0.8em;
	}

	h5 {
		font-size: 0.8em;
	}

	h6 {
		font-size: 0.8em;
	}

	@media screen and (max-width: 980px) {

		h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
			display: none;
		}
	}

	@media screen and (max-width: 736px) {

		h2 {
			font-size: 1em;
		}

		h3 {
			font-size: 0.8em;
		}
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px #c9c9c9;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px #c9c9c9;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

	pre code {
		display: block;
		line-height: 1.75;
		padding: 1em 1.5em;
		overflow-x: auto;
	}

/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}


.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon > .label {
	display: none;
}

.icon:before {
	line-height: inherit;
}

.icon.solid:before {
	font-weight: 900;
}

.icon.brands:before {
	font-family: 'Font Awesome 5 Brands';
}

.icon.style2 {
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	background-color: transparent;
	border: solid 1px #c9c9c9;
	border-radius: 4px;
	width: 2.65em;
	height: 2.65em;
	display: inline-block;
	text-align: center;
	line-height: 2.65em;
	color: inherit;
}

.icon.style2:before {
	font-size: 1.1em;
}

.icon.style2:hover {
	color: #f2849e;
	border-color: #f2849e;
}

.icon.style2:active {
	background-color: rgba(242, 132, 158, 0.1);
}


ul.actions {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	cursor: default;
	list-style: none;
	margin-left: -1em;
	padding-left: 0;
}


ul.actions li {
	padding: 0 0 0 1em;
	vertical-align: middle;
}

ul.actions.special {
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-left: 0;
}

ul.actions.special li:first-child {
	padding-left: 0;
}

ul.actions.stacked {
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 0;
}

ul.actions.stacked li {
	padding: 1.3em 0 0 0;
}

ul.actions.stacked li:first-child {
	padding-top: 0;
}


ul.actions.fit {
	width: calc(100% + 1em);
}

ul.actions.fit li {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	width: 100%;
}

ul.actions.fit li > * {
	width: 100%;
}

ul.actions.fit.stacked {
	width: 100%;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}

@media screen and (max-width: 736px) {

	ul.icons li {
		padding: 0 0.75em 0 0;
	}
}

/* Form */
form {
	margin: 0 0 2em 0;
	overflow-x: hidden;
}

form > :last-child {
	margin-bottom: 0;
}

form > .fields {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: calc(100% + 3em);
	margin: -1.5em 0 2em -1.5em;
}

form > .fields > .field {
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	padding: 1.5em 0 0 1.5em;
	width: calc(100% - 1.5em);
}

form > .fields > .field.half {
	width: calc(50% - 0.75em);
}

form > .fields > .field.third {
	width: calc(100%/3 - 0.5em);
}

form > .fields > .field.quarter {
	width: calc(25% - 0.375em);
}

label {
	display: block;
	font-size: 0.9em;
	font-weight: 900;
	margin: 0 0 1em 0;
}

input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-bottom: solid 1px #c9c9c9;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0;
		text-decoration: none;
		width: 100%;
	}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
	border-bottom-color: #f2849e;
	box-shadow: inset 0 -1px 0 0 #f2849e;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	height: 3em;
}

textarea {
	padding: 0;
	min-height: 3.75em;
}


/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	box-shadow: inset 0 0 0 2px #585858;
	color: #585858 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 900;
	height: 3.5em;
	letter-spacing: 0.35em;
	line-height: 3.45em;
	overflow: hidden;
	padding: 0 1.25em 0 1.6em;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
}	

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
	width: 100%;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	color: #f2849e !important;
	box-shadow: inset 0 0 0 2px #f2849e;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
	background-color: rgba(242, 132, 158, 0.1);
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
	font-size: 0.6em;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
	font-size: 1em;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
	box-shadow: none;
	background-color: #585858;
	color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
	background-color: #f2849e;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
	background-color: #ee5f81;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
	pointer-events: none;
	opacity: 0.25;
}

/* Tiles */
.tiles {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
}

.tiles article {
	-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	position: relative;
	width: calc(33.33333% - 2.5em);
}

.tiles article > .image {
	-moz-transition: -moz-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}

.tiles article > .image img {
	display: block;
	width: 100%;
}

.tiles article > .image:before {
	pointer-events: none;
	-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
	-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
	-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
	transition: background-color 0.5s ease, opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1.0;
	z-index: 1;
	opacity: 0.8;
}

.tiles article > a {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
	-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
	-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
	transition: background-color 0.5s ease, transform 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	border-radius: 4px;
	border-bottom: 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	z-index: 3;
}

.tiles article > a .content {
	-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
	-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
	-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	width: 100%;
	max-height: 0;
	line-height: 1.5;
	margin-top: 0.35em;
	opacity: 0;
}

.tiles article > a .content > :last-child {
	margin-bottom: 0;
}

body:not(.is-touch) .tiles article:hover > .image:before {
	background-color: #333333;
	opacity: 0.35;
}

body:not(.is-touch) .tiles article:hover > .image:after {
	opacity: 0;
}

body:not(.is-touch) .tiles article:hover .content {
	max-height: 15em;
	opacity: 1;
}

body.is-preload .tiles article {
	-moz-transform: scale(8.0);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}

body.is-touch .tiles article .content {
	max-height: 15em;
	opacity: 1;
}

@media screen and (max-width: 980px) {

	.tiles article {
		width: calc(50% - 2.5em);
	}

	.tiles article.style5 {
		position: absolute;
		z-index: 12;
		top: 0;
		left: 0;
		visibility: hidden;
	}
	.tiles article.style8 {
		position: absolute;
		z-index: 12;
		top: 0;
		left: 0;
		visibility: hidden;
	}
	.tiles article.style11 {
		position: absolute;
		z-index: 12;
		top: 0;
		left: 0;
		visibility: hidden;
	}
}


@media screen and (max-width: 736px) {
	.tiles article {
		width: 100%;
	}

	.tiles article.style5 {
		position: absolute;
		z-index: 12;
		top: 0;
		left: 0;
	}
	.tiles article.style8 {
			position: absolute;
			z-index: 12;
			top: 0;
			left: 0;
	}
	.tiles article.style11 {
		position: absolute;
		z-index: 30;
		top: 0;
		left: 0;
	}
}

@media screen and (max-width: 480px) {


	.tiles article {
		width: 100%;
	}

	.tiles article.style5 {
		position: absolute;
		z-index: 12;
		top: 0;
		left: 0;
	}
	.tiles article.style8 {
		position: absolute;
		z-index: 12;
		top: 0;
		left: 0;;
	}
	.tiles article.style11 {
		position: absolute;
		z-index: 12;
		top: 0;
		left: 0;
	}
}	

/* Header */
#header {
	padding: 8em 0 0.1em 0 ;
}

#header nav ul {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

#header nav ul li a {
	display: block;
	position: relative;
	height: 3em;
	line-height: 3em;
	padding: 0 1.5em;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	border: 0;
	font-size: 0.8em;
	font-weight: 900;
	letter-spacing: 0.35em;
	text-transform: uppercase;
}

/* Footer */
#footer {
	padding: 5em 0 6em 0 ;
	background-color: #f6f6f6;
}

#footer > .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

#footer > .inner > * > :last-child {
	margin-bottom: 0;
}

#footer > .inner section:nth-child(1) {
	width: calc(66% - 2.5em);
	margin-right: 2.5em;
}

#footer > .inner section:nth-child(2) {
	width: calc(33% - 2.5em);
	margin-left: 2.5em;
}

#footer > .inner .copyright {
	width: 100%;
	padding: 0;
	margin-top: 5em;
	list-style: none;
	font-size: 0.8em;
	color: rgba(88, 88, 88, 0.5);
}

#footer > .inner .copyright a {
	color: inherit;
}

#footer > .inner .copyright li {
	display: inline-block;
	border-left: solid 1px rgba(88, 88, 88, 0.15);
	line-height: 1;
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
}

#footer > .inner .copyright li:first-child {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}

@media screen and (max-width: 1280px) {
	#footer {
		padding: 5em 0 3em 0 ;
	}

	#footer > .inner section:nth-child(1) {
		width: calc(66% - 1.25em);
		margin-right: 1.25em;
	}

	#footer > .inner section:nth-child(2) {
		width: calc(33% - 1.25em);
		margin-left: 1.25em;
	}
}

@media screen and (max-width: 980px) {
	#footer > .inner section:nth-child(1) {
		width: 66%;
		margin-right: 0;
	}

	#footer > .inner section:nth-child(2) {
		width: calc(33% - 2.5em);
		margin-left: 2.5em;
	}
}

@media screen and (max-width: 736px) {
	#footer {
		padding: 3em 0 1em 0 ;
	}

	#footer > .inner {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	#footer > .inner section:nth-child(1) {
			width: 100%;
			margin-right: 0;
			margin: 3em 0 0 0;
	}

	#footer > .inner section:nth-child(2) {
			-moz-order: -1;
			-webkit-order: -1;
			-ms-order: -1;
			order: -1;
			width: 100%;
			margin-left: 0;
	}

	#footer > .inner .copyright {
			margin-top: 3em;
	}
}

@media screen and (max-width: 480px) {

	#footer > .inner .copyright {
		margin-top: 3em;
	}

	#footer > .inner .copyright li {
		border-left: 0;
		padding-left: 0;
		margin: 0.75em 0 0 0;
		display: block;
		line-height: inherit;
	}

	#footer > .inner .copyright li:first-child {
		margin-top: 0;
	}
}

/* Wrapper */
#wrapper > * > .inner {
	width: 100%;
	max-width: 68em;
	margin: 0 auto;
	padding: 0 2.5em;
}

@media screen and (max-width: 736px) {
	#wrapper > * > .inner {
		padding: 0 1.25em;
	}
}

/* Nav */
#nav {
	position: absolute;
	top: 3em;
	left: 0;
	width: 100%;
	cursor: default;
}

#nav > ul > li.active > a:before,
#nav > ul > li:hover > a:before {
	background: #823549;
	color: #fff;
}

#nav > ul > li.active > a > span,
#nav > ul > li:hover > a > span {
	color: #823549;
}

/* toggle menu */
@media screen and (max-width: 980px) {

	html, body {
		overflow-x: hidden;
	}

	#nav {
		display: none;
	}

	#titleBar .toggle {
		text-decoration: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 80px;
		height: 60px;
		border: 0;
	}

	#titleBar .toggle:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		text-transform: none !important;
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
	}

	#titleBar .toggle:before {
		display: inline-block;
		text-decoration: none;
		content: '\f0c9';
		display: block;
		width: 60px;
		height: 40px;
		background: rgba(232, 232, 232, 0.9);
		border-radius: 4px;
		position: absolute;
		left: 5px;
		top: 5px;
		box-shadow: 0.125em 0.125em 0 0 rgba(0, 0, 0, 0.15);
		text-align: center;
		line-height: 40px;
		font-size: 18px;
		color: #aaa;
	}

	#titleBar .toggle:active:before {
		opacity: 0.5;
	}

	#navPanel {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translateX(-275px);
		-webkit-transform: translateX(-275px);
		-ms-transform: translateX(-275px);
		transform: translateX(-275px);
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		display: block;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 275px;
		z-index: 10002;
		background: #444;
		border-right: solid 2px #3c3c3c;
		font-weight: 400;
		text-transform: uppercase;
		color: #888;
		letter-spacing: 2px;
		font-size: 0.85em;
	}

	#navPanel .link {
		display: block;
		color: #ddd;
		text-decoration: none;
		height: 44px;
		line-height: 44px;
		border: 0;
		border-top: solid 1px #3c3c3c;
		padding: 0 1em 0 1em;
	}

	#navPanel .link:first-child {
		border-top: 0;
	}

	#navPanel .link.depth-0 {
		font-weight: 600;
		color: #fff;
	}

	#navPanel .indent-1 {
		display: inline-block;
		width: 1em;
	}

	#navPanel .indent-2 {
		display: inline-block;
		width: 2em;
	}

	#navPanel .indent-3 {
		display: inline-block;
		width: 3em;
	}

	#navPanel .indent-4 {
		display: inline-block;
		width: 4em;
	}

	#navPanel .indent-5 {
		display: inline-block;
		width: 5em;
	}

	#navPanel .depth-0 {
		color: #fff;
	}

	body.navPanel-visible #page-wrapper {
		-moz-transform: translateX(275px);
		-webkit-transform: translateX(275px);
		-ms-transform: translateX(275px);
		transform: translateX(275px);
	}

	body.navPanel-visible #titleBar {
		-moz-transform: translateX(275px);
		-webkit-transform: translateX(275px);
		-ms-transform: translateX(275px);
		transform: translateX(275px);
	}

	body.navPanel-visible #navPanel {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	#sidebar {
		padding-top: 6em;
	}

}

